<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>image</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
</head>
<body>
<br>
<h1 class="text-center">CMS
</h1>
<br><br>

<table id="example" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Foto 1</th>
                <th>Foto 2</th>
                <th>File ID</th>
                <th>Nama</th>
                <th>Password</th>
                <th>No Hp</th>
                <th>Similarity</th>
                <th>status</th>
                <th>verify</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody th:with="count=0">
        <tr th:each = "imageGallery, hh : ${images}">
            <td th:text="${imageGallery.id}"></td>
            <td><img th:src="@{${'/image/display/data1/'+ imageGallery.id}}"width="200px" height="200px"
                     class="card img-fluid" style="width:200px" alt=""/></td>
            <td><img th:src="@{${'/image/display/data2/'+ imageGallery.id}}"width="200px" height="200px"
                     class="card img-fluid" style="width:200px" alt=""/></td>
            <td th:text="${imageGallery.file_id}"></td>
            <td th:text="${imageGallery.username}"></td>
            <td th:text="${imageGallery.password}"></td>
                <td th:text="${imageGallery.no_hp}"></td>
            <td th:text="${imageGallery.similarity}"></td>
            <td th:text="${imageGallery.status}"></td>
            <td>
                <a th:href="@{${'/image/verify/'+ imageGallery.id}}" class="btn btn-success">Verify</a>
                <a th:href="@{${'/image/verify2/'+ imageGallery.id}}" class="btn btn-danger">Not Verify</a>
            </td>

            <!--                <td th:text="${#dates.format({imageGallery.createDate}, 'dd-MM-yyyy')}"/></td>-->
<!--            <a th:href = "@{/students/edit/{id}(id=${student.id})}"-->
<!--               class = "btn btn-primary">Update</a>-->
               <td>
                   <a href="/home" class="btn btn-success">Create</a>
                   <a th:href="@{/image/edit/imageDetails/{id}(id=${imageGallery.id})}" class="btn btn-info text-right" target="_blank">Update</a>
                   <a th:href = "@{${'/image/show/'+ imageGallery.id}}" class = "btn btn-danger">Delete</a>
               </td>
            </tr>

        </tbody>
    </table>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#example').DataTable();
	} );
	</script>
</body>
</html>
